.container {
  width: 100vw;
  flex-direction: column;
  overflow: hidden;

  h1 {
    margin-top: 15px;
  }
  h3 {
    color: white;
    padding-left: 30px;
    margin-bottom: -15px;
  }
}

.headerCont {
  padding-right: 30px;
  padding-left: 30px;
  flex-direction: column;
}
.scrollView {
  width: 100%;
  flex-direction: row;
  overflow-x: scroll;
  padding-right: 60px;
  padding-left: 30px;
  margin-top: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
