.videoView {
  border: 2px solid white;
  aspect-ratio: calc(16 / 9);
  width: 100%;
  border-radius: 10px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.uploadImage {
  aspect-ratio: 1;
  width: 90%;
  max-width: 200px;
  margin-bottom: 10px;
}

.videoFile {
  width: 100%;
  height: 100%;
}
